# Auto-detect text files and perform LF normalization
* ^(?i)(?!(\.|\/)(bin|obj|out|tmp|var|log|build|\.git|\.svn|\.hg|\.nuget|\.m2|node_modules|bower_components|\.vscode|\.idea))(?i).*(\.txt|\.text|\.log|\.ini|\.config|\.properties|\.xml|\.json|\.csv|\.html|\.htm|\.sql|\.yml|\.yaml|\.md|\.rst|\.tf|\.tfvars|\.hcl|\.tfstate|\.ps1|\.psd1|\.psm1|\.bat|\.cmd|\.sh|\.sqlite|\.db|\.mdb)$
  :@text
  execute_process(
    command="dos2unix -q ${source}",
    source=${source},
    target=${source},
    output_file=${source}.log,
    error_file=${source}.err,
    log_if_errors=True,
    halt_on_error=True
  )
