section.about {
  display: flex;
  justify-content: center;
  background-color: var(--branco);
  padding: 3em 0;
}

.about__container {
  max-width: calc(75rem);
}

.about__title {
  font-size: 32px;
  margin: 1em;

}

.about__paragraph {
  margin: 1em;
  text-align: justify;
  max-width: 65%;
}

/* Tablets */
@media (max-width: 768px) {
  .about__container {
    max-width: calc(43em);
    text-align: center;
  }

  .about__title {
    text-align: center;
  }

  .about__paragraph {
    max-width: 100%;
  }

  /*Mobile*/
  @media (max-width: 425px) {
    section.about {
      padding: 1em 0;
    }

    .about__container {
      max-width: calc(22em);
    }

    .about__title {
      text-align: center;
    }
  }
}