section.academic {
  display: flex;
  justify-content: center;
  background-color: var(--second-background-color);
}

.academic__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(75rem);
  padding: 5em 0;
  width: 100%;
}

.academic__courses {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
}

.academic__courses__box {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  width: 33.3%;
}

.academic__courses__box__logo {

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 286px;
  background-color: var(--cards-colors);
}

.academic__courses__box__logo__img {
  height: 40%;
  padding: 0.5em 0;
}

.academic__courses__box__title {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

.academic__courses__box__subtitle {
  font-weight: 500;
  text-align: center;
  }

/* Tablets */
@media (max-width: 768px) {
  .academic__container {
    max-width: calc(43em);
    padding: 2em 0;
  }

  .academic__courses__box__logo {
    height: 135px;
  }

  .academic__courses__box__title {
    font-size: 16px;
  }

  .academic__courses__box__subtitle {
    font-size: 14px;
  }
}

/*Mobile*/
@media (max-width: 425px) {
  .academic__container {
    max-width: calc(22em);
    padding: 2em 0;
  }

  .academic__courses {
    flex-direction: column;
  }

  .academic__courses__box {
    width: 100%;
  }
}
