footer {
  width: 100%;
  margin-top: 20px;
  
}

.footer__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;

}

.footer__rodape p {
  justify-content: center;
  line-height: 19px;
  background-color: var(--background-color);
}

