h2, h3, p {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    align-items: center;
    margin-left: 100%;
    width: 300%
  }

  to {
    align-items: center;
    margin-left: 50%;
    width: 100%;
  }
}