section.skills,
section.hobbies {
  display: flex;
  justify-content: center;

}

.skills__container,
.hobbies__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: calc(75rem);

}

.skills__line,
.hobbies__line {
  align-items: center;
  display: flex;
  gap: 2.1rem;
  flex-wrap: wrap;
}

.skills__box,
.hobbies__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 130px;
  width: 130px;
  padding: 1rem;
  background-color: var(--cards-colors);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.skills__box:hover,
.hobbies__box:hover {

  border: 1px solid;
  color: var(--branco);
  transform: scale(1.1);
}

.skills__name,
.hobbies__name {
  text-align: center;
  font-weight: 700;
  margin-top: 0.5em;
}

.skills__img,
.hobbies__img {
  align-items: center;
  text-align: center;
  width: 55%;
}

.hobbies__container .hobbies--extrapadding {
  padding-bottom: 4em;
}

/* Tablets */
@media (max-width: 868px) {
  .skills__line,
  .hobbies__line {
    max-width: calc(43em);
    text-align: center;
    justify-content: space-around;
  
  }

  .skills__box,
  .hobbies__box {
   flex-direction: column;
    justify-content: space-between;
    height: 110px;
    width: 179px;
    align-items: center;
  }

  section.hobbies {
    padding: 4em 0px;
  }
}

/*Mobile*/
@media (max-width: 425px) {
  .skills__container,
  .hobbies__container {
    max-width: calc(22rem);
    
  }

  .skills__line,
  .hobbies__line {
    max-width: calc(22rem);
    gap: 1.7em;
    display: flex;
  }
  .skills__box,
  .hobbies__box {
    height: 100px;
    width: 140px;
    display: flex;
  }
}
