.title .section {
  display: block;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/* Profile animation */
.title__profile__container .tittle__profile {

  text-align: center;
  overflow: hidden;
  perspective: 900px;

}

.tittle__profile {
  width: 358px;
  height: 358px;
  object-fit: cover;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 60%;
}


.tittle__profile:hover {
  transform: rotateY(180deg);
}


.title__profile--back {

  backface-visibility: hidden;
  box-shadow: 0px 8px 8px 8px rgba(61, 59, 59, 0.1);
  border-radius: 60%;
  transform: rotateY(180deg);
  background-color: var(--branco);
  color: #000;
  text-align: center;
  overflow: hidden;
}

.profile-img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 60%;
}

.title__profile--back span {
  font-size: 24px;
  font-weight: bold;
}

/* Profile Animation End*/
.title__profile__container .tittle__profile .title__profile--back {
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  max-width: calc(105rem);
  align-items: center;
  flex-direction: row-reverse;

}

.title__profile__container .title__profile--img {
  align-items: center;
  height: 358px;
  width: 358px;
  text-align: center;
  border-radius: 70%;

}

.title__div {
  max-width: 90%;
  padding: 0 1rem;
  z-index: 999;
}

.title__bio {
  font-size: 22px;
  margin-bottom: 0.5em;
  margin: 1em;
}

.title__subsection {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  margin: 1em;
}

.title__network {
  display: flex;
  font-weight: 500;
  gap: 3em;
  padding-top: 1em;
  margin: 1em;
}

.title__network__item {
  display: flex;
  justify-content: space-between;
}

/* Tablets */
@media (max-width: 998px){
  section.title .section {
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    
  }

  .title__container {
    display: block;
    text-align: center;
    max-width: calc(75rem);
    width: 90%;
  }

   .title__profile--img img {
    flex-direction: column-reverse;
    margin-left: 60px;

  }

  .title__div .title__bio .title__subsection {
    text-align: center;
    font-size: 42px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .title__profile--img .title__profile--front {
    align-items: center;
    text-align: center;
    height: 146px;
    width: 146px;
    border-radius: 50%;
    float: left;
  }

  .title__network {
    gap: 2em;
    text-align: center;
  }

  .title__network img {
    cursor: pointer;
    transition: all .3s ease-in;
    }

  .title__profile--back span {
    font-size: 14px;
    text-align: center;
  }
}


@media (max-width: 768px){
  section.title .section {
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    
  }

  .title__container {
    display: block;
    text-align: center;
    max-width: calc(75rem);
    flex-wrap: wrap;
    width: 90%;
  }

  .title__div .title__bio .title__subsection {
    text-align: center;
    font-size: 42px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .tittle__profile .title__profile--img .title__profile--front {
    align-items: center;
    text-align: center;
    height: 146px;
    width: 146px;
    border-radius: 50%;
    float: left;
  }

  .title__network {
    gap: 2em;
    text-align: center;
  }

  .title__network img {
    cursor: pointer;
    transition: all .3s ease-in;
    }

  .title__profile--back span {
    font-size: 14px;
    text-align: center;
  }
}

/*Mobile*/
@media(max-width: 500px) {
  section.title .section {
    display: block;
    text-align: center;
    align-items: center;

  }

 .title__bio {
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
    width: 80%;
  }

  .title__profile--img {
    align-items: center;
    height: 146px;
    width: 146px;
    border-radius: 50%;
  }


  .profile__back--img {
    height: 146px;
    width: 146px;
    float: left;
    border-radius: 50%;

  }

  .title__bio {
    text-align: center;
    font-size: 22px;
  }

  .title__subsection {
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .title__network {
    gap: 4em;
    align-items: center;
    text-align: center;
  }

  .title__profile--back span {
    font-size: 14px;
    text-align: center;

  }

}
